h2{
    color:black
}
.heading {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 20px;
    background-color:rgb(156, 151, 180);
    border: solid black;
    /*border-radius: 50px;*/
}
.categories *{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color:darkturquoise;
    border: solid;
    border-radius: 50px;
    margin-top: 20px;
}

.cubes{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.cubes h3{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
img:hover{
    transform:scale(1.1);
}